.itemsContainer{
    display: flex;
    justify-content: space-evenly;
    
}
.item{
    text-decoration: none;
}

.logIn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: auto;
}