/* .registerContainer {
    display: block;
    border: 1px solid #f00;
    
    height: 100vh;
}
.registerContainer .registerInner{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #5f5f5f;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.registerContainer .registerInner .registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid #f00;
} */

/* .imageBackground {
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-wrap: wrap;
    align-content: center;
}
.mainLeft{
    flex-basis: 40%;
    height: 100%;
}
.mainRight{
    flex-basis: 60%;
    height: 100%;
    background-color: blue;
    box-shadow: -5px 2px 20px 0px;
}

.registerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerWrap  {
    display: flex; */
    /* position: static; */
    /* justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    
}
.registerForm{
    padding: 20px;
    display: block;
    /* box-shadow: 0px 0px 10px 1px rgba(0,0,0,.1); */
    /* border: 1px solid #5f5f5f; */
/* }
.input{
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #f00;
    border-radius: 5px;

}
.input:focus{
    outline: none;
    border: 1px solid #5f5f5f;
}
.input::placeholder{
    color: #f00;
}
.registerButton{
    width: 100%;
    margin-top: 10px;
    border-radius: 25px;
    background-color: darkturquoise;
    box-shadow: 1px 17px 13px 1px rgba(0,0,0,.1)
} 
/* 

*/


.centerAlign{
    max-width: 100px;
    margin: auto;

}

.itemAlign{
    padding-top: 15px;
    padding-bottom: 15px;
}
.itemLablel{
    
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: small;
}

.button{
    width: 100%;
    margin-top: 10px;
    border-radius: 15px;
    background-color: darkturquoise;
    box-shadow: 1px 17px 13px 1px rgba(0,0,0,.1);
    background-color: #8C52FF;
    border: solid 2px #8C52FF;
    font-size: 18px;
}

.inputItem{
    font-size: xx-large;
}
.adjustWidth{
    width: 32%;
}

.textColor{
    color: #8C52FF;
}
.fontsize{
    
    font-size: xxx-large;
}